html { 
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  display: inline-block;
  padding: 1rem 1rem;
  margin: 0;
  text-decoration: none;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  border: none;
  background: none;
  z-index: 100;
}

// button:hover,
// button:focus {
//   background: #0053ba;
// }

// button:focus {
//   outline: 1px solid #fff;
//   outline-offset: -4px;
// }

button:active {
  transform: scale(0.99);
}